    <form id="registerForm">
        <label for="username">Username</label><br />
        <input type="text" name="username" id="username" placeholder="username" required><br /><br />

        <label for="name">Name</label><br />
        <input type="text" name="name" id="name" placeholder="name" required><br /><br />

        <label for="lastname">Lastname</label><br />
        <input type="text" name="lastname" id="lastname" placeholder="lastname" required><br /><br />

        <label for="password">Password</label><br />
        <input type="text" name="password" id="password" placeholder="password" required><br /><br />

        <button type="submit">Log in</button>
    </form>